<div class="row">
    <div class="col-md-3 col-md-offset-9">
        <form class="form-inline" role="form">
            <div class="form-group">
                <input type="text" placeholder="Search..." class="form-control" ng-model="table.filter">
            </div>
        </form>
    </div>
</div>
<table class="table table-bordered">
    <tr>
        <th>Last Name <span class="glyphicon glyphicon-chevron-down" style="font-size:.7em;"></span></th>
        <th>First Name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    <tr ng-repeat="c in table.data|orderBy:table.order|filter:table.filter">
        <td>{{c.last_name}}</td>
        <td>{{c.first_name}}</td>
        <td>{{c.email}}</td>
        <td><span class="badge bg-red">55%</span></td>
    </tr>
</table>
</div>
<div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>